#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  height: 100vh;
  text-align: center;
}

.logo {
  display: block;
  transition: filter 300ms;
  will-change: filter;
  height: 6em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6);
}
.logo.tailwind:hover {
  filter: drop-shadow(0 0 2em #38b2ac);
}

.read-the-docs {
  color: #888;
}
