@import 'reseter.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
:root {
  --color-white: #ffffff;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-cyan: cyan;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

header,
footer {
  flex: 0 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button,
input {
  outline: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-color: transparent;
}

svg {
  fill: currentColor;
}

::selection {
  background-color: var(--color-cyan);
  color: var(--color-white);
}

.overlay-30 {
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-30);
    content: '';
  }
}
